"tabWidth": 2
printWidth: 100
importOrder: ["^node:", "<THIRD_PARTY_MODULES>", "^@taglicious\/", "^[.]+\/"]
importOrderSeparation: true
importOrderSortSpecifiers: true
plugins: ["@trivago/prettier-plugin-sort-imports"]
